*{
  box-sizing: border-box;
}

.flex-column{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  margin-bottom:10px;
}

h1{
  margin-top:20px!important;
  font-family: 'Gotham', sans-serif;
  color: #000F30;
}

h3{
 color:#383838!important;
 font-family: 'Gotham', sans-serif;
 font-size: 24px!important;
 
}

h4{
  color:#595959!important;
  font-size: 1.2rem!important;
  font-family: 'Gotham', sans-serif;
}

.btn-primary{
  color:white!important;
  background-color: #081f46!important;
  border: none!important;
  border-radius: 10px!important;
  padding: 10px 20px!important;
  font-weight: 500!important;
  text-align: center;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
  color:#081f46!important;
  background-color: white!important;
  text-align: center;
}



.vl{
  border-left: 1px solid #181818;
  padding:1px 3px;
  margin-left:5px;
}

#course-list{
  list-style-type:none;
  padding: 0px;
}

#course-list li{
  margin: 30px 0px;
  background-color: #f9f9f9;
  padding: 20px 30px;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
}

.foundation{
  border-left:10px solid #03a9f4!important;
}

.web{
  border-left:10px solid #e91e63!important
}

p{
  margin-bottom:0px!important;
}

/*=========== interior pages ===========*/
.navbar{
margin: 10px 0px;
}

.header.container{
  background: rgb(73,83,205);
  background: linear-gradient(48deg, rgba(73,83,205,1) 29%, rgba(1,5,105,1) 83%);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

button.accordion-button{
  background: #dce9ff;
  padding: 20px;
  border-radius: 10px!important;
  font-weight: 500;
}

.accordion-item{
  border:none!important;
  margin:20px
}

.accordion-button:focus{
  box-shadow:none!important;
}

.accordion-button:not(.collapsed){
  color: #000F30!important;
  background-color: #dce9ff!important;
}

.accordion-body {
  background: #f2f7ff;
  padding: 20px;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #dbeaff;
}

/*========== home ===========*/
a.navbar-brand{
font-weight: 600;
}

.header-img{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}

.header-img#home{
  background-image: url(../img/smacclab.jpg);
}

.header-img#resources{
  background-image: url(../img/resources.png);
}

.header-img#courses{
  background-image: url(../img/courses.png);
}

.header-img h1, .header-img h3{
  color: white!important;
}

.header-img h3{
font-weight: 300;
}

.block{
  background: #dce9ff;
  padding: 30px;
  margin: 30px 0px;
  border-radius: 10px;
}

.block .col-md-4{
  justify-content: flex-end;
}

.right-align{
  display: flex;
  justify-content: flex-end;
}

/*========== events ===========*/
/*.col-lg-4{
  background-color: #000F30;
}*/

#event-title{
  padding-bottom: 30px;
}

li.card-body{
  background-color: #f9f9f9;
  border: 0;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  list-style: none;
}

li.card-body:hover{
  background-color: #dce8ff;  
  transition: 0.5s;
}

.container h2{
  padding-bottom: 10px;
}

.speaker-title{
  margin-left: 30px;
  padding-bottom: 10px;
  display: list-item;         
  list-style-type: disc; 
  list-style-position: outside;
}

.btn btn-primary{
  text-align: center;
  align-items: center;
  justify-content: center;
}

btn.btn-primary:hover{
  border: solid 1px black;
  
}

div.card{
  border: none;
}

.event-holder{
  display: flex;
  align-items: center;
  justify-content: center;
}

p.event-time, p.event-date{
  text-decoration: underline;
}

p.event-time{
  padding-left: 15px;
}

.card-text{
  padding: 10px;
}


/*========== footer =============*/
footer{
  background-color: #000F30;
  padding: 30px 0px;
  margin-top: 100px;
  color: white;
  text-align: center;
}





/*============= selection menu customizations ===========*/

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #fff;
  border-radius: 10px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 17px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #5a5a5a transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #5a5a5a transparent;
  top: 12px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #000;
  padding: 8px 16px;
  cursor: pointer;
}

.select-selected{
  border: 1px solid #cdcdcd;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #cdcdcd;
  z-index: 99;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #0000000d;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #dce9ff
}

.row.filters{
  margin-top: 30px;
}
