*{
  box-sizing: border-box;
}

.flex-column{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  margin-bottom:10px;
}

body{
  font-family: 'Raleway', sans-serif!important;
}

h1{
  margin-top:20px!important;
  font-family: 'Raleway', sans-serif!important;
  color: #000F30!important;
  font-weight: 700!important;
}

h2{
  font-family: 'Raleway', sans-serif!important;
    font-weight: 600!important;
}

h3{
 color:#383838;
 font-family: 'Raleway', sans-serif!important;
 font-size: 24px!important;
  font-weight: 600!important;
}

h4{
  color:#595959!important;
  font-size: 1.2rem!important;
  font-family: 'Raleway', sans-serif!important;
  margin-bottom:0px!important;
}

p{
  font-family: 'Raleway', sans-serif!important;
}

.btn-primary{
  color:white!important;
  background-color: #000F30!important;
  border: 3px solid #000F30!important;
  border-radius: 60px!important;
  padding: 10px 26px!important;
  font-weight: 500!important;
  text-align: center;
}

.btn-search{
  color:white!important;
  background-color: #081f46!important;
  border: 3px solid #081f46!important;
  border-radius: 0px 10px 10px 0px!important;
  padding: 5px 20px!important;
  font-weight: 500!important;
  text-align: center;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
  color:#081f46!important;
  background-color: white!important;
  border: 3px solid #000F30!important;
  border-radius: 60px!important;
  text-align: center;
}


.vl{
  border-left: 1px solid #181818;
  padding:1px 3px;
  margin-left:5px;
}

#course-list{
  list-style-type:none;
  padding: 0px;
}

#course-list li{
  margin: 30px 0px;
  background-color: #f9f9f9;
  padding: 20px 30px;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
}

.foundation{
  border-left:10px solid #03a9f4!important;
}

.web{
  border-left:10px solid #e91e63!important
}

.threed{
  border-left:10px solid #8803f4!important
}

.game{
  border-left:10px solid #f49403!important
}

.motion{
  border-left:10px solid #ed00d1!important
}

.film{
  border-left:10px solid #3cd400!important
}

.business{
  border-left:10px solid #0023d4!important
}

.culture{
  border-left:10px solid #f7df00!important
}

p{
  margin-bottom:0px!important;
}

.col-lg-4{
  list-style-type:none;
}

/*=========== interior pages ===========*/

@media (min-width:991px){

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #4A53CD;
}

.nav-link-ltr::before {
  width: 0%;
  top: 25px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.nav-link {
padding: 0px!important;

    margin: 0px 15px;
}
}
.nav-link {
    position: relative;
    color: #000F30!important;
    font-family: 'Raleway';
    font-weight: 600;
}


.navbar{
margin: 10px 0px;
padding: 0.5rem 1rem;
}

.navbar-light .navbar-nav .nav-link:hover{
  color:#4A53CD!important
}

.navbar-light .navbar-nav a.nav-link.active{
  color:#4A53CD!important
}

.header.container{
  background: rgb(73,83,205);
  background: linear-gradient(48deg, rgba(73,83,205,1) 29%, rgba(1,5,105,1) 83%);
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

button.accordion-button{
  background: #dce9ff;
  padding: 20px;
  font-weight: 500;
}

.accordion-item{
  border:none!important;
  margin:20px
}

.accordion-button:focus{
  box-shadow:none!important;
}

.accordion-button:not(.collapsed){
  color: #000F30!important;
  background-color: #dce9ff!important;
}

.accordion-body {
  background: #f2f7ff;
  padding: 20px;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #dbeaff;
}

/*========== courses ===========*/


@media (min-width:768px){
  .legend-div{
    flex-direction:row;
  }
 
}


.course-semester-icon{
  height:30px;
  padding-right:8px;
}

.required-icon{
  height:15px;
  padding-right:5px;
}

.courses-semester-day, .courses-required{
  display:flex;
  padding-top:10px;
  align-items:center;
}

.courses-required{
  margin-bottom:10px;
}

.courses-semester-day h6{
  margin-bottom:0px;
}

.course-search-form{
  display:flex;
}

.course-search-form input{
  border-radius:0.5rem 0rem 0rem 0.5rem!important;
}

.checkbox-container {
  display: block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor:pointer;
}


.checkbox-container input {
  position: absolute;
  opacity: 0!important;
  height: 0!important;
  width: 0!important;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ccc;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #bbb;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: rgb(34, 34, 34);
}

.checkbox-container input:checked ~ .checkmark-foundation{
  background-color: #03a9f4
}

.checkbox-container input:checked ~ .checkmark-film{
  background-color: #3cd400
}

.checkbox-container input:checked ~ .checkmark-web{
  background-color: #e91e63
}

.checkbox-container input:checked ~ .checkmark-3d{
  background-color: #8803f4
}

.checkbox-container input:checked ~ .checkmark-game{
  background-color: #f49403
}

.checkbox-container input:checked ~ .checkmark-motion{
  background-color: #ed00d1
}

.checkbox-container input:checked ~ .checkmark-business{
  background-color: #0023d4
}

.checkbox-container input:checked ~ .checkmark-culture{
  background-color: #f7df00
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 7px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}




/*========== home ===========*/
a.navbar-brand{
font-weight: 600;
}

#navbarNav{
  justify-content: flex-end;
}

.header-img#home{
  height: 470px;
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}

.header-img#home h1, .header-img#home h3{
color: #000f30 !important;;
}

img.home-logo{
  height: 300px;
}
.header-img{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
}

.header-img#home{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='450' preserveAspectRatio='none' viewBox='0 0 1440 450'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1032%26quot%3b)' fill='none'%3e%3crect width='1440' height='450' x='0' y='0' fill='rgba(244%2c 248%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M608.41 466.3C722.66 461.91 800.12 283.17 1024.64 276.81 1249.17 270.45 1330.42 130.51 1440.88 128.31' stroke='rgba(226%2c 237%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M418.73 532.94C570.41 520.1 657.38 218.25 935.41 210.74 1213.44 203.23 1320.98 121.08 1452.09 120.74' stroke='rgba(226%2c 237%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M722.75 539.14C843.2 528.43 899.43 293.07 1130.77 279.37 1362.11 265.67 1427.37 103.31 1538.79 99.37' stroke='rgba(226%2c 237%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M495.67 506.82C599.08 495.68 579.98 270.39 837.92 270.27 1095.86 270.15 1348 404.63 1522.42 405.27' stroke='rgba(226%2c 237%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M897.82 471.24C985.52 451.09 942.22 226.6 1153.6 218.02 1364.97 209.44 1534.67 115.04 1665.15 114.52' stroke='rgba(226%2c 237%2c 255%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1032'%3e%3crect width='1440' height='450' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.header-img#resources{
  background-image: url(../img/resources.png);
}

.header-img#courses{
  background-image: url(../img/courses.png);
}

.header-img#equipment{
  background-image: url(../img/equipment.png);
}

.header-img#internships{
  background-image: url(../img/Internships.png);
}

.header-img#events{
  background-image: url(../img/Workshop.png);
}

.header-img h1, .header-img h3{
  color: white!important;
}

.header-img h3{
font-weight: 300;
}

.block{
  background: #dce9ff;
  padding: 30px;
  margin: 30px 0px;
  border-radius: 10px;
}

.block .col-md-4{
  justify-content: flex-end;
}

.right-align{
  display: flex;
  justify-content: flex-end;
}

.d-flex.justify-content-between.align-items-end a{
  color: #4A53CD;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.d-flex.justify-content-between.align-items-end a:before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #4A53CD;
}

.d-flex.justify-content-between.align-items-end a:before {
  width: 0%;
  top: 25px;
}

.d-flex.justify-content-between.align-items-end a:hover::before {
  width: 100%;
}

.card-body.p-3{
  list-style: none;
  color: #000F30;
}

.card-title{
  color: #000F30!important;
}

.card-date{
  color: #4A53CD;
  font-weight: bold;
  padding-bottom: 10px; 
}

.event-div-home{
  display: flex;
}

.event-where-home{
  margin-left: 10px;
}

/*========== events ===========*/

#events-list{
  display: flex; 
  justify-content: center;

}

#events-list p{
  padding-top: 10px;
}

.card{
  margin: 0px 20px 30px 20px;
  background-color: #f9f9f9!important;
  border: none!important;
  border-radius: 10px;
  box-shadow: 0px 6px 4px lightgrey;
  width: 400px!important;
}

@media (max-width:1399px){
  .card{
    width: 320px!important;

  }
}

@media (max-width:1199px){
  .card{
    width: 280px!important;

  }
}

@media (max-width:991px){
  .card{
    width: 190px!important;

  }
  img.home-logo {
    height: 200px;
}
.my-auto {
  margin-top: auto!important;
  margin-bottom: auto!important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
}
.home-icons{
  margin-bottom:20px;
}
}

@media(max-width:767px){
  .justify-content-between{
    display: flex!important;
    flex-direction: column;
    justify-content: center!important;
    align-items: center;

  }
  .card{
    width: 80%!important;
    margin: 20px;
  }
  .d-flex.justify-content-between.align-items-end{
    align-items: flex-start!important;
    margin-left: 35px;
  }


}

.btn.btn-secondary{
  color:white!important;
  background-color: #000F30!important;
  border: 3px solid #000F30!important;
  border-radius: 60px!important;
  padding: 10px 26px!important;
  font-weight: 500!important;
  text-align: center;
  /*margin: 20px 90px 5px 90px;*/
}

.btn.btn-secondary:hover, .btn.btn-secondary:focus, .btn.btn-secondary:active{
  color:#081f46!important;
  background-color: white!important;
  border: 3px solid #000F30!important;
  border-radius: 60px!important;
  text-align: center;
  /*margin: 20px 90px 5px 90px;*/
}

.event-title{
  font-size: 26px;
}

.event-date{
  margin-bottom: 0px!important;
  color: #4c4fd4!important;
}

.event-speaker{
  color: #4c4fd4!important;
}

.card.p-3.col-lg-3 a{
  margin-top: 20px;
}

.event-time{
  margin-bottom: 0px!important;
  margin-right: 10px;
}

.event-tbd{
  margin-top: 10px;
}
  
.event-div{
  display: flex;
}

.event-speaker{
  margin-right: 20px;
}

.event-description, .event-speaker-title{
  font-size: 14px;
}

.event-tbd{
  padding-top: 5px;
  color: #000F30!important;
  text-align: center;
}

/*========== footer =============*/
footer{
  background-color: #001030;
  padding: 60px 0px;
  margin-top: 100px;
  color: white;
}

footer h3 {
    color: white!important;
}

footer ul{
  list-style-type: none;
  padding-left: 0px;
  line-height: 2em;
}

footer ul li a{
  color: white !important;
  text-decoration: none;
}

/*============= selection menu customizations ===========*/

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #fff;
  border-radius: 10px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 17px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #5a5a5a transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #5a5a5a transparent;
  top: 12px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #000;
  padding: 8px 16px;
  cursor: pointer;
}

.select-selected{
  border: 1px solid #cdcdcd;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #cdcdcd;
  z-index: 99;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #0000000d;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #dce9ff
}

.row.filters{
  margin-top: 30px;
}

/*============== Internships Page ==================*/

.searchbox{
  margin: 30px 0px;
  background-color: #f9f9f9;
  padding: 20px 30px;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
}


@media(min-width:1024px){
  .search-flex{
    display: flex;
    justify-content: flex-end;
  }

  .course-search-flex{
    display:flex;
    justify-content:space-between;
  }

  .course-search-form{
    height:100%;
  }

  .filter-flex{
    display: flex;
  }
  
}

.btn-secondary {
  color: #fff;
  background-color: #081f46!important;
  border-color: #081f46!important;
  margin-right: 10px;
  transition: .5s;
  border: solid 1.5px #081f46!important;
  margin-top: 20px;
}

.btn-secondary:hover{
  transition: .5s;
  background-color: white!important;
  margin-right: 10px;
  border: solid 1.5px #081f46!important;
  color: #081f46!important;
}

.form-select{
  color: #fff;
  margin-right: 10px;
}

@media (max-width:1399px){
  .col-sm-2{
    width: 100%!important;
    margin-bottom: 10px;
  }
  .col-sm-3{
    width: 100%!important;
    margin-bottom:10px;
  }
}

/*========== flag for pdf ===========*/
.flag {
    background-color: rgba(0, 0, 0, 0.1) !important;
    font-size: 80% !important;
    padding: 0.2em 0.3em !important;
    margin-left: 0.4em !important;
    border-radius: 0.3em !important;
    text-decoration: none !important;
    color: #28618a;
}

/*========== center div ============*/
.center{
  text-align: center;
}

/*==================== home icons ==================*/
.home-icons img{
  height: 50px;
  margin-bottom:20px ;
}

.home-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.icons-height{
  height: 80px;
}

#equipment ol{
    margin-left: 15px!important;

}

#equipment .bg-light{
  border-radius: 20px!important;
  
}

img.cal-icon {
    height: 20px;
    margin-right: 10px;
    margin-top: 2px;
}

h4.eventdate {
    font-size: 16px!important;
    color: #4c4fd4!important;
    font-weight: 600;
}


