<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Courses</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <link rel="icon" href="./img/dmdhub-logo.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="styleshexaet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <meta name="theme-color" content="#fafafa">
  <script src="https://kit.fontawesome.com/77acf96f91.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
</head>

<body class="">
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" href="index.html"><img style="height: 25px;" src="img/DMD Hub-logo.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link nav-link-ltr" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ltr active" aria-current="page" href="courses.html">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ltr" href="resources.html">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ltr" href="internships.html">Internships/Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ltr" href="events.html">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-ltr" href="equipment.html">Equipment</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="header-img container-fluid" id="courses">
    <h1>Courses</h1>
    <h3>Of course you're here.</h3>
  </div>

  <div class="container" id="app">
    <div class="course-search-flex">
      <h2>DMD Course Search</h2>
      <!-- @todo Implement keyword search for courses -->
      <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 course-search-form">
        <input id="searchText" type="search" class="form-control form-control-dark" placeholder="Search"
          aria-label="Search" v-model="searchText">
        <button id="searchBtn" type="submit" class="btn btn-search">Search</button>
      </form> -->
    </div>
    <p><i>Note: This is a tool for general reference and may not have accurate course times and availability. For the most recent updates on course offerings, please use <a href="https://student.studentadmin.uconn.edu/psp/CSGUE/EMPLOYEE/SA/c/UC_ENROLL.UC_GUEST_CLS_SCH.GBL?PORTALPARAM_PTCNAV=UC_GUEST_CLS_SCH_GBL_1&EOPP.SCNode=SA&EOPP.SCPortal=EMPLOYEE&EOPP.SCName=CO_EMPLOYEE_SELF_SERVICE&EOPP.SCLabel=Self%20Service&EOPP.SCPTfname=CO_EMPLOYEE_SELF_SERVICE&FolderPath=PORTAL_ROOT_OBJECT.CO_EMPLOYEE_SELF_SERVICE.UC_GUEST_CLS_SCH_GBL_1&IsFolder=false" target="_blank">Student Admin</a>. For guidance on which classes to take, please refer to the "Plan of Studies" on the <a href="resources.html">Resources Page</a>.</i></p>
    <div class="course-flex">
      <div class="course-column col-md-3">
        <!-- @todo Enable filtering by concentration -->
        <!-- <div class="">
          <span class="checkbox-concentration">
            <h3>Course Type</h3>
            <span id="project-filters" class="checkbox-filters">
              <label class="checkbox-container">All Courses
                <input type="checkbox" checked="checked" id="allproj" value="all">
                <span class="checkmark"></span>
              </label>
              <hr width="100px" style="margin: 20px 0; border:1px solid #ccc;">
              <label class="checkbox-container">Foundation
                <input class="project" name="project" type="checkbox" checked="checked" id="foundationcheck"
                  value="foundation">
                <span class="checkmark checkmark-foundation"></span>
              </label>
              <label class="checkbox-container" for="3dcheck">3D Animation
                <input class="project" name="project" type="checkbox" checked="checked" id="3dcheck" value="3d">
                <span class="checkmark checkmark-3d"></span>
              </label>
              <label class="checkbox-container">Web/Interactive Media Design
                <input class="project" name="project" type="checkbox" checked="checked" id="webcheck" value="web">
                <span class="checkmark checkmark-web"></span>
              </label>
              <label class="checkbox-container">Motion Design & Animation
                <input class="project" name="project" type="checkbox" checked="checked" id="motioncheck" value="motion">
                <span class="checkmark checkmark-motion"></span>
              </label>
              <label class="checkbox-container">Game Design
                <input class="project" name="project" type="checkbox" checked="checked" id="gamecheck" value="game">
                <span class="checkmark checkmark-game"></span>
              </label>
              <label class="checkbox-container">Digital Media Business Strategies
                <input class="project" name="project" type="checkbox" checked="checked" id="businesscheck"
                  value="business">
                <span class="checkmark checkmark-business"></span>
              </label>
              <label class="checkbox-container">Digital Culture
                <input class="project" name="project" type="checkbox" checked="checked" id="culturecheck"
                  value="culture">
                <span class="checkmark checkmark-culture"></span>
              </label>
              <label class="checkbox-container">Digital Film/Video Production
                <input class="project" name="project" type="checkbox" checked="checked" id="filmcheck" value="film">
                <span class="checkmark checkmark-film"></span>
              </label>
            </span>

          </span>
        </div> -->
        <br>
        <div class="">
          <span class="dropdown-semester">
          <div class="logo-flex">
            <h3>Semester Offered</h3>
            <!-- <img src="img/spring.png" class="semester-icon">
            <img src="img/fall.png" class="semester-icon"> -->
          </div>
            <div>
              <select id="semester" @change="filterBySemester" v-model="semester" class="form-select" name="semester">
                <option>Any</option>
                <option class="fall">Fall</option>
                <option class="spring">Spring</option>
              </select>
            </div>
          </span>
        </div>
        <br>
        <!-- <div class="">
          <span class="dropdown-day">
            <div class="logo-flex">
              <h3>Required</h3> 
              <img src="img/required.png" class="required-icon-2">
            </div>
            <div class="custom-select">
              <select id="required" class="dropdown" name="required">
                <option value="all">N/A</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
          </span>
        </div> -->
      </div>
      <div class="col-md-8">
        <h3 id="numresults">Results: {{ coursesFiltered.length }}</h3>
        <div id="loading"></div>
        <ul id="course-list" style="margin-top:-55px">
          <template v-for="course in coursesFiltered">

            <li>
              <h3>{{course['Course Number']}} - {{course['Course Title']}}</h3>
              <div class="courses-required">
                <h4>
                  <span v-for="concentration in course['Concentration Names']" class="badge rounded-pill" :data-concentration="concentration">{{concentration}}</span> 
                </h4>
              </div>
              <p class="course-description" v-html="course['Description']"></p>
              <div class="courses-semester-day">
                <img src="img/fall.png" v-if="course['Semester'] == 'Fall' || course['Semester'] == 'Any'" class="course-semester-icon">
                <img src="img/spring.png" v-if="course['Semester'] == 'Spring' || course['Semester'] == 'Any'" class="course-semester-icon">
              </div>
            </li>


          </template>

        </ul>

        <p style="margin-top:0px">End of list</p>
      </div>
    </div>
  </div>

  <footer class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>
            DMDHub
          </h3>
          <ul class="footer-nav">
              <li><a class="footer-item footer-item-ltr" href="courses.html">Courses</a></li>
              <li><a class="footer-item footer-item-ltr" href="resources.html">Resources</a></li>
              <li><a class="footer-item footer-item-ltr" href="internships.html">Internships/Jobs</a></li>
              <li><a class="footer-item footer-item-ltr" href="events.html">Events</a></li>
              <li><a class="footer-item footer-item-ltr" href="equipment.html">Equipment</a></li>
          </ul>

        </div>
        <div class="col-md-4">
          <h3>
            Related Links
          </h3>
          <ul class="dmd-link">
            <li><a class="footer-dmd-link footer-dmd-link-ltr" href="https://dmd.uconn.edu/">UConn DMD</a></li>

          </ul>

        </div>
        <div class="col-md-4">
          <h3>
            DMDHub Forms
          </h3>
          <ul class="feedback-form">
            <li><a class="footer-feedback footer-feedback-ltr" href="https://github.com/uconndxlab/thedmdhub/issues/new">Report an issue with the site.</a></li>
            <li><a class="footer-feedback footer-feedback-ltr" href="https://docs.google.com/forms/d/e/1FAIpQLSePTdOU02f72LF-tSZklAq-Ock1QSqIBF1c8EBSLQDDITOSWQ/viewform">Have an event or internship to promote?</a></li>          
          </ul>
        </div>

      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <h3>Created by students in spring 2022 practicum</h3>
        </div>
      </div>
    </div>
  </footer>



  <script src="js/vendor/modernizr-3.8.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>
  <script type="module" src="js/courses.js"></script>

  <script type="module">
    import settings from './js/settings.js'
    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    const options = {
      method: 'GET',
      headers: {
        'xc-token': settings.token
      }
    };
    createApp({
      data() {
        return {
          courses: [],
          coursesFiltered: [],
          semester: "Any"
        }
      },
      methods: {
        getData() {
          return fetch('https://app.nocodb.com/api/v2/tables/metqstmfsq5pgaa/records?offset=0&limit=250&where=&viewId=vwilv83evqk33pyq', options)
            .then(response => response.json())
            .then(response => response)
            .catch(err => console.error(err));
        },
        filterBySemester(){
          let filtered = this.courses
          this.coursesFiltered = filtered.filter( (course) => course['Semester'] == this.semester || course['Semester'] == 'Any')
        }
      },
      async mounted() {
        let data = await this.getData()
        this.courses = data.list
        this.coursesFiltered = data.list
        console.log(this.courses)
      }
    }).mount('#app')
  </script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <!-- <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script> -->


</body>

</html>
