<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Internships</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/77acf96f91.js" crossorigin="anonymous"></script>
  <meta name="theme-color" content="#fafafa">

  <script src="https://kit.fontawesome.com/77acf96f91.js" crossorigin="anonymous"></script>

</head>

<body class="">
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.html">DMD Hub</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="resources.html">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="courses.html">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="events.html">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="internships.html">Internships</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="header-img container-fluid" id="courses">
    <h1>Internships</h1>
  </div>


  <div class="container" id="app">
    <h2>DMD Jobs/Internships Search</h2>
<br>
  <div class="search-flex">
    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
      <input type="search" class="form-control form-control-dark" placeholder="Search by title, skill..." aria-label="Search" v-model="searchText">
      {{ searchText }}
    </form>
    <br>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
      <input type="search" class="form-control form-control-dark" placeholder="Location..." aria-label="Search">
    </form>
    <button type="button" class="btn btn-primary" @click="searchByKeyword">Search</button>
  </div>
  <br>
  <h3>Filter Listings</h3>
<div class="filter-flex">
  <select class="form-select" placeholder="Company" aria-label="Company" v-model="companyFilter" @change="filterByCompany">
    <template v-for="company in companies">
      <option>{{ company }}</option>
    </template>
  </select>

  <select class="form-select" aria-label="Concentration" v-model="concentrationFilter" @change="filterByConcentration">
    <template v-for="concentration in concentrations">
      <option>{{ concentration }}</option>
    </template>
  </select>


  <select class="form-select" aria-label="Job Type" v-model="jobTypesFilter" @change="filterByJobType">
    <template v-for="jobType in jobTypes">
      <option>{{ jobType }}</option>
    </template>
  </select>

  <select class="form-select" aria-label="Date Posted" v-model="datePostedFilter" @change="filterByDatePosted">
    <template v-for="dateRange in dateRanges">
      <option>{{ dateRange }}</option>
    </template>
  </select>
</div>
    <ul id="course-list" v-for="internship in internships">
      <li class="foundation">
        <h2>{{ internship.title }}</h2>
        <h4>{{ internship.company }}</h4>
        <p>Locations: {{ internship.location }}</p>
        <p>Concentration: {{ internship.concentration }}</p>
        <p class="course-description">{{ internship.description }}</p>
        <br>
        <a :href="internship.apply" class="btn btn-primary">Apply</a>
      </li>
    </ul>

    <p>End of list</p>
  </div>

  <footer class="container-fluid">
    <div class="container">
      <p>Created by spring 2022 web practicum</p>
    </div>
  </footer>



  <script src="js/vendor/modernizr-3.8.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="js/internships.js"></script>
  
  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>


</body>

</html>
